.examiner__container{
    padding: auto;
    background-color: #fff;
}
.examiner__heading{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
.examiner__heading h2{
    font-size: 40px;
    align-items: center;
}
.examiner__main{
    padding: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 34px 40px 45px 40px;
}
.examiner__task__icon{
    width: 50px;
    margin: 10px;
}
.examiner__main__section{
    text-wrap: pretty;
}
.section__description{
    color: #ccc;
}
.section__date{
    color: orange;
    cursor: pointer;
}